<footer>
  <address>
    <p>Telefon: <a href="tel:+40123456789">+40 123 456 789</a></p>
    <p>
      Adresă:
      <a
        href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica"
        >Str. Exemplu, Nr. 1, Facultatea de Matematica si Informatica,
        București</a
      >
    </p>
    <p>Email: <a href="mailto:contact@ecohaven.com">contact@ecohaven.com</a></p>
    <p>Chat: <a href="skype:live:username?chat">Deschide Skype</a></p>
  </address>
  <p>
    <small
      >&copy; <time datetime="2024-06-18">2024</time> EcoHaven. Toate drepturile
      rezervate.</small
    >
  </p>
</footer>
<a href="#top" id="back-to-top" title="Înapoi sus">
  <div id="triangle">↑</div>
</a>
<script src="/public/js/script.js"></script>
