<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Numele Autorului" />
<meta
  name="keywords"
  content="eco, eco-friendly, produse ecologice, sustenabilitate"
/>
<meta
  name="description"
  content="EcoHaven - Magazin online de produse eco-friendly"
/>
<meta name="msapplication-TileColor" content="#ffffff" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha384-iBBdG6+gV2YlXpjztLbZ+O8s2OjF7QT7JZ8zvP/nt7Dzp/TIKxkz4F5RxSkvTGR"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
/>
<link rel="icon" href="/public/ico/favicon.ico" />
<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/custom.css" />

<title>EcoHaven - Magazin de produse eco-friendly</title>
